/* .p1 {
    background-image: url('/assets/gallery/p1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p2 {
    background-image: url('/assets/gallery/p2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p3 {
    background-image: url('/assets/gallery/p3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p4 {
    background-image: url('/assets/gallery/p4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p5 {
    background-image: url('/assets/gallery/p5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p6 {
    background-image: url('/assets/gallery/p6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */