/* #gallery {
    line-height:0;
    -webkit-column-count:2;
    -webkit-column-gap:15px;
    -moz-column-count:2;
    -moz-column-gap:15px;
    column-count:2;
    column-gap:15px;
 }

 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:15px;
 }

 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 } */

ul {
   list-style-type: none;
   padding: 0;
   padding-left: 10px;
   padding-right: 10px;
}

.image-gallery {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.image-gallery>li {
   flex: 1 1 auto;
   /* or flex: auto; */
   height: 300px;
   cursor: pointer;
   position: relative;
}

.image-gallery::after {
   content: "";
   flex-grow: 999;
}

.image-gallery li img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   vertical-align: middle;
   border-radius: 5px;
}